h1,
h3 {
    text-align: center;
}

.header {
  background-color: #f1f1f1;
  text-align: center;
  margin: 0;
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  width: 100%; /* 横幅を100%にする */
  z-index: 100; /* 他の要素より手前に表示 */
}

.btn-border {
    font-size: larger;
    border-radius: 10px;
    color: white;
    background: black;
}

.btn-border:hover {
    border-radius: 10px;
    color: black;
    background: white;
}

.digit-box {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    margin: 25px;
}

form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.itemArea {
    display: flex;
    justify-content: center;
}

button{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;

}
input[type="submit"] {
    vertical-align: middle;
    height: 50px;
    margin: 40px;
    font-size: 16px;
    cursor: pointer;
}

table {
    width: 100%;
    margin: 10 auto;
}

th,
td {
    text-align: center;
}

th {
    background-color: gray;
    color: white;
}
